/* Set the overall page size and padding */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, serif;
  height: 77.35vh;
  background-color: rgb(49, 81, 102);
}

.main-container {
  display: flex; /* Flexbox for side-by-side layout */
}

/* Container for the table */
.mat-elevation-z8 {
  margin: 20px auto;
  max-width: 90%;  /* Limits the table width */
  padding: 20px;
  height: 491px;
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: rgb(49, 81, 102, 0.6); /* White background for the table container */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for the container */

  flex: 1; /* Allow it to take as much space as available */
}

/* Ensure parent doesn't stretch children */
.vertical-buttons {
  max-width: 90%;  /* Limits the buttons container width */
  display: flex;
  align-items: center; /* Center buttons or adjust as needed */
  gap: 25px; /* Add space between buttons */
  margin: 20px auto;
  margin-top: 0px;
  height: 24px; /* Desired height */
}

.vertical-buttons .right-button {
  width: 200px; /* Force the width */
  height: 12px; /* Desired height */
  padding: 0; /* Eliminate padding */
  color: transparent;
  background-color: rgb(49, 81, 102, 0.7); /* Match theme */
  border-radius: 8px; /* Rounded edges */
  border: none; /* Remove borders */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 12px;
  box-sizing: border-box; /* Includes padding and border in size */
}

/* On hover, only background changes */
.vertical-buttons .right-button:hover {
  color: rgb(49, 81, 102);
  background-color: rgb(165, 195, 217);
  height: 24px; /* Desired height */
  border: 1px solid rgb(49, 81, 102);
}
