<div class="main-container">
<div class="mat-elevation-z8">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Vertical Buttons -->
<div class="vertical-buttons">
  <button mat-flat-button (click)="toOperationType()" class="right-button"></button>
  <button mat-flat-button (click)="toStaff()" class="right-button"></button>
  <button mat-flat-button (click)="toPatient()" class="right-button"></button>
  <button mat-flat-button (click)="toBlaBla2()" class="right-button"></button>
</div>
  <div class="vertical-buttons">
    <button mat-flat-button (click)="toOperationRoomSchedule()" class="right-button"></button>
  </div>

</div>

