<div class="main-container">
<div class="mat-elevation-z8">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
<div class="vertical-buttons">
  <button mat-flat-button (click)="toOperationType()" class="right-button">Operation Types</button>
  <button mat-flat-button (click)="toStaff()" class="right-button">Staff</button>
  <button mat-flat-button (click)="toPatient()" class="right-button">Patients</button>
  <button mat-flat-button (click)="toOperationRoomSchedule()" class="right-button">Schedules</button>
  <button mat-flat-button (click)="toAllergies()" class="right-button">Allergies</button>
  <button mat-flat-button (click)="toMedicalConditions()" class="right-button">Medical Conditions</button>
  <button mat-flat-button (click)="toRoomType()" class="right-button">Room Types</button>
</div>

