<div class="main-container">

  <div class="title">
    <h1>Privacy Policy</h1>
    <p>Esta Política de Privacidade descreve como os seus dados pessoais são coletados, utilizados, armazenados e protegidos, em conformidade com o Regulamento Geral de Proteção de Dados (GDPR).</p>
  </div>

  <div class="data_img">
    <img src="priv_policy_data.png" alt="Privacy Policy data" class="data-img">
  </div>

  <div class="under-text">

    <div class="treat">
      <h1>Finalidades</h1>
      <p>(1) - Identificação do paciente e Gestão da ficha médica</p>
      <p>(2) - Identificação do paciente, contacto e questões de autenticação</p>
      <p>(3) - Atendimento Personalizado</p>
      <p>(4) - Análise Estatística e Atendimento Personalizado</p>
      <p>(5) - Identificação do paciente e contacto</p>
      <p>(6) - Análise Estatística e Atendimento Personalizado</p>
      <p>(7) - Análise Estatística e Atendimento Personalizado</p>
      <p>(8) - Análise Estatística e Atendimento Personalizado</p>
    </div>

    <div class="utilization">
      <h2>Os seus dados são tratados para as seguintes finalidades</h2>
      <p>- Prover serviços de saúde</p>
      <p>- Garantir sua segurança</p>
      <p>- Realizar atendimentos individualizados e análises estatísticas a partir de informações clínicas</p>
      <p>- Entrar em contato sobre agendamentos, atualizações ou emergências</p>

      <div class="inline-container">
        <h2>Direito de acesso</h2>
        <p>Pode solicitar acesso aos seus dados pessoais que coletamos</p>
      </div>

      <div class="inline-container">
        <h2>Direito de exclusão</h2>
        <p>Pode pedir a remoção dos seus dados pessoais, respeitando os requisitos legais aplicáveis</p>
      </div>

    </div>

    <div class="reten">
      <h1>Retenção dos dados</h1>
      <p>Os seus dados pessoais serão armazenados apenas pelo tempo necessário para atender às finalidades descritas nesta política de privacidade ou conforme exigido por lei. Alguns dados pessoais podem ser retidos para fins de pesquisa e estatística, sendo que estes serão anonimizados.</p>
    </div>

    <div class="security">
      <h1>Segurança dos dados</h1>
      <p>Implementamos salvaguardas técnicas e organizacionais robustas, incluindo mecanismos rigorosos de controle de acesso, para assegurar a proteção dos seus dados contra acessos não autorizados, divulgação indevida ou perda.</p>
    </div>

  </div>

</div>
