<div *ngIf="agOpRoomBetter.length > 0">
  <div class="opRoomId">
    <strong>{{ opRoomId }}</strong>
  </div>
  <div class="timeline">
    <div *ngFor="let slot of agOpRoomBetter" class="timeline-slot"
         [style.width]="calculateSlotWidth(slot[0], slot[1]) + '%'"
         [style.left]="calculateSlotPosition(slot[0]) + '%'"
         [style.background-color]="'rgb(34, 38, 24, 0.7)'">
      <div class="slot-time">
        <!-- Display start and end times above -->
        <span>{{ formatTime(slot[0]) }} - {{ formatTime(slot[1]) }}</span>
      </div>
      <div class="slot-details">
        <!-- Display the operation ID below -->
        <span>{{ slot[2] }}</span>
      </div>
    </div>
  </div>
</div>
<section *ngIf="doctors_agenda_better.length > 0" aria-label="Doctors' schedules">
  <article *ngFor="let doctor of doctors_agenda_better" class="doctor-timeline" aria-label="Doctor timeline">
    <!-- Doctor ID -->
    <header class="doctorId">
      <strong>{{ doctor.doctor }}</strong> <!-- Doctor ID -->
    </header>
    <!-- Timeline -->
    <ul class="timeline">
      <li *ngFor="let slot of doctor.schedule" class="timeline-slot"
          [style.width]="calculateSlotWidth(slot.start_time, slot.end_time) + '%'"
          [style.left]="calculateSlotPosition(slot.start_time) + '%'"
          [style.background-color]="'rgba(67, 76, 63, 0.6)'">
        <div class="slot-time">
          <span>{{ formatTime(slot.start_time) }} - {{ formatTime(slot.end_time) }}</span>
        </div>
        <div class="slot-details">
          <span>{{ slot.surgery_id }}</span>
        </div>
      </li>
    </ul>
  </article>
</section>

<div class="button-container">
  <button mat-flat-button (click)="openDialog()" class="dialog-button">Search</button>
</div>
