.timeline,
.doctor-timeline .timeline{
  position: relative;
  width: 100%;
  height: 50px; /* Adjust height as needed */
  background-color: rgb(165, 195, 217, 0.5);
}

.timeline-slot,
.doctor-timeline .timeline-slot{
  position: absolute;
  height: 100%; /* Ensure it fills the timeline height */
  display: flex;
  flex-direction: column; /* Stack text vertically */
  align-items: center;
  justify-content: center; /* Center text vertically */
  color: white;
  font-size: 0.8rem; /* Adjust text size for readability */
  border-radius: 4px;
  text-align: center; /* Center text horizontally */
}

.slot-time
.doctor-timeline .slot-time{
  font-weight: bold; /* Highlight the time */
  margin-bottom: 2px; /* Add spacing between time and details */
}

.slot-details,
.doctor-timeline .slot-time{
  font-size: 0.75rem; /* Slightly smaller font for details */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the left */
}

.button-container .dialog-button
{
  margin: 20px auto;
  padding: 23px 37px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px; /* Make sure the corners are rounded */
  background-color: rgb(49, 81, 102); /* Default background color */
  color: white;
  border: 2px solid rgb(49, 81, 102);
}

.button-container .dialog-button:hover
{
  background-color: rgb(164, 193, 216, 0.6);
  color: white;
}

.opRoomId,
.doctor-timeline .doctorId
{
  font-size: 1.5rem; /* Slightly smaller font for details */
  color: rgb(225, 226, 230);
}

.doctor-timeline {
  margin-bottom: 20px;
}
