<!-- Header Section -->
<header>
  <div class="container">
    <div class="logo">
      <img src="hospital_logo.png" alt="Hospital Logo" class="logo-img">
      <h1>SNS 27</h1>
    </div>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="under-dev">About</a></li>
        <li><a href="under-dev">Services</a></li>
        <li><a href="under-dev">Contact</a></li>
        <li><a href="three-scene">3D View</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Main Content Section (Optional, for demo purposes) -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer Section -->
<footer>
  <div class="container">
    <div class="footer-info">
      <p>&copy; 2024 SNS 27. All rights reserved.</p>
    </div>
    <div class="snsphotos">
      <img src="logo_SNS_cor_branco.png" alt="Logo SNS" class="logo-img">
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="privacy-policy">Privacy Policy</a></li>
        <li><a href="under-dev">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
