/* Set the overall page size and padding */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, serif;
  height: 77.35vh;
  background-color: rgb(49, 81, 102);
}
/* Container for the table */
.mat-elevation-z8 {
  margin: 20px auto;
  max-width: 90%;  /* Limits the table width */
  padding: 20px;
  height: 535px;
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: rgb(49, 81, 102, 0.6); /* White background for the table container */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for the container */
  flex: 1; /* Allow it to take as much space as available */
}

/* Ensure parent doesn't stretch children */
.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center buttons or adjust as needed */
  gap: 25px; /* Add space between buttons */
  margin: 20px auto;
  margin-top: 30px;
}

.vertical-buttons .right-button {
  width: 12px; /* Force the width */
  min-width: 12px; /* Prevent growing */
  max-width: 12px; /* Prevent shrinking */
  height: 169px; /* Desired height */
  padding: 0; /* Eliminate padding */
  background-color: rgb(49, 81, 102, 0.7); /* Match theme */
  border-radius: 8px; /* Rounded edges */
  border: none; /* Remove borders */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 12px;
  box-sizing: border-box; /* Includes padding and border in size */
}

/* On hover, only background changes */
.vertical-buttons .right-button:hover {
  background-color: rgb(165, 195, 217);
}

/* Table Styles */
table.mat-table {
  width: 100%;
  border-collapse: collapse; /* Ensures the table rows and columns are closely packed */
}

th.mat-header-cell, td.mat-cell {
  padding: 12px 20px; /* Adjust padding to make the table cells more spacious */
  text-align: left;
  font-size: 14px; /* Set font size for readability */
}

.mat-mdc-form-field {
  width: 100%;
  font-size: 14px;
}

td, th {
  width: 25%;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the left */
}

.button-container .create-button,
.button-container .search-button,
.button-container .edit-button,
.button-container .delete-button
{
  margin: 20px auto;
  padding: 23px 37px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px; /* Make sure the corners are rounded */
  background-color: rgb(49, 81, 102); /* Default background color */
  color: white;
  border: 2px solid rgb(49, 81, 102);
}

/* Hover effect for button1 */
.button-container .create-button:hover,
.button-container .search-button:hover,
.button-container .edit-button:hover,
.button-container .delete-button:hover
{
  background-color: rgb(164, 193, 216, 0.6);
  color: white;
}

.selected {
  background-color: rgba(164, 193, 216, 0.1); /* Light blue highlight */
}