<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-table"> 
  
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Patient Name"> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.user.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="contactInformation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Contact"> Contact </th>
        <td mat-cell *matCellDef="let element"> {{ element.contactInformation }} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email"> E-mail </th>
        <td mat-cell *matCellDef="let element"> {{ element.user.email.value }} </td>
      </ng-container>

      <ng-container matColumnDef="medicalConditions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Medical Conditions"> Medical Conditions </th>
        <td mat-cell *matCellDef="let element"> {{ element.medicalConditions.join(', ') }} </td>
      </ng-container>

      <ng-container matColumnDef="emergencyContact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Emergency Contact"> Emergency Contact </th>
        <td mat-cell *matCellDef="let element"> {{ element.emergencyContact }} </td>
      </ng-container>

      <ng-container matColumnDef="appointmentHistory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Appointment History"> Appointments </th>
        <td mat-cell *matCellDef="let element"> {{ element.appointmentHistory.join(', ') }} </td>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="toggleSelection(row)"
          [class.selected]="selection.isSelected(row)">
      </tr>
    </table>
  
    <div class="button-container">
      <button mat-flat-button (click)="openEditDialog()" class="edit-button">Edit</button>
      <button mat-flat-button (click)="deletePatientRequest()" class="delete-button">Delete</button>
    </div>
    </div>
  
